# NAMESPACE for package 'saveJAGS', ne 'dumpJAGS'

importFrom("rjags", "jags.model", "adapt", "coda.samples", "load.module", "unload.module", "parallel.seeds")
importFrom("coda", "mcmc", "as.mcmc.list", "thin")
importFrom("parallel", "detectCores", "makeCluster", "stopCluster", "clusterEvalQ",
  "clusterExport", "parLapply")
importFrom("stats", "update", "window")
importFrom("utils", "flush.console")

export(saveJAGS)
export(combineSaves)
export(simsList)
export(recoverSaves)

S3method("summary", "saveJAGSfileList")
