# NAMESPACE for package 'dumpJAGS'

importFrom("rjags", "jags.model", "adapt", "coda.samples", "load.module", "unload.module")
importFrom("coda", "mcmc")
importFrom("parallel", "detectCores", "makeCluster", "stopCluster", "clusterEvalQ",
  "clusterExport", "parLapply")
importFrom("stats", "update")
importFrom("utils", "flush.console")

export(dumpJAGS)
export(combineDumps)
export(simsList)
export(recoverDumps)

