# NAMESPACE for package 'saveJAGS', ne 'dumpJAGS'

importFrom("rjags", "jags.model", "adapt", "coda.samples",
  "load.module", "unload.module", "parallel.seeds",
  "list.factories",  "list.modules")
importFrom("coda", "mcmc", "as.mcmc.list", "thin")
importFrom("parallel", "detectCores", "makeCluster", "stopCluster", "clusterEvalQ",
  "clusterExport", "parLapply")
importFrom("stats", "update", "window", "median")
importFrom("utils", "flush.console")

export(saveJAGS)
export(resumeJAGS)
export(recoverSaves)
export(combineSaves)
export(simsList)
export(getJAGSmodel)
export(getJAGSdata)
export(getRunTime)

S3method("summary", "saveJAGSfileList")
